
.navbar{
   display: flex; 
   justify-content: space-between;
   width: 100%;
   /* margin: ; */
   color: #333333;
   padding: 1rem auto;
   margin: 1rem auto;
   align-items: center;
   border: 2px solid black;
   border-radius: 10px;
   /* background-color: azure; */
  background: hsl(302deg 59% 5% / 50%);

   /* border-bottom: 2px solid rgpa(0,0,0,.3); */
   box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.4);
   /* background-color: #F5F5F5 */
   /* Primary Background Color: #F5F5F5 (Light Gray)
    Secondary Background Color: #FFFFFF (White) */
}
.logo h1{
    padding-left: 1rem;
    text-decoration:double;
    font-size: 2.5rem;
  color: wheat;

}
.title-name ul{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.title-name ul li{
    list-style: none;
}
.title-name a{
    color: wheat;
    font-size: 1.4rem;
    color: var(--color1);
    font-weight: 500;

    display: block;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	text-decoration: none;
	position: relative;
	z-index: 10;
	overflow: hidden;
	border-radius: inherit;
	transition: all 0.2s ease-in-out;
}
.title-name ul li a{
font-weight: 500;
color: wheat;

    /* text-decoration: none;
    list-style: none;
    padding: 0 1rem;

    display: block;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	text-decoration: none;
	position: relative;
	z-index: 10;
	overflow: hidden;
	border-radius: inherit;
	transition: all 0.2s ease-in-out; */
}
/* .title-name a::before {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: -100%;
	block-size: 100%;
	inline-size: 100%;
	background: hsl(261deg 80% 90%);
	z-index: -1;
	transition: all 0.2s ease-in-out;
} */

.title-name a:hover {
	background: hsl(261deg 80% 90%);
    border-radius: 15px;
	color: hsl(302deg 70% 5% / 90%);
}

.title-name a::before {
	inset-block-start: 0;
	inset-inline-start: 0;
}

.buttons button{
    color: wheat;
    padding: .3rem .2rem;
    /* width: 100px; */
    border-radius: 10px;
    font-size: 1.2rem; 
    /* background:  hsl(261deg 80% 90%); */
    background: transparent;
    border: 2px solid ;
    /* margin-left: .3rem; */
}
.buttons button a{
    color: black;
    /* background:  hsl(261deg 80% 90%); */
    
    text-decoration: none;
    }
.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
    transition: all .4s ease-out;
}